* {
    margin-top: 0;
	margin-left: 0;
	padding-left: 0;
    margin-right: 0;
	padding-right: 0;
}

html,
body{
    height: 100%;
    display: flex;
    flex-direction:column;
    line-height: 1;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.wrapper{
    position: relative;
    min-height: 100%;
    display: flex;
    flex-direction:column;
    min-height: 100%;
}
.main{
    flex: 1 1 auto;
}
.footer{
    position: relative;
    display:grid;
	width: 100%;
    color:#FFFFFF;
    background: #111115;
    backdrop-filter: blur(2px);
    z-index: 1000;
}
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    height: 10%;
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    color:#FFFFFF;
    background: #000000;
    backdrop-filter: blur(2px);
    z-index: 10;
}
.container div{
    margin: auto;
}
.container a{
    text-decoration-line: none;
    color: #FFFFFF;
}
.petstory-logo {
    box-sizing: border-box;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
    text-align: center;

    color: #FFFFFF;

    border: 1.18841px solid #FFFFFF;
    padding: 5px;
}
.container div:hover{
    color: orange;

}
.container a:hover{
    color: orange;

}
#logo:hover{
    color: #FFFFFF;
}

.container-nav{
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
}
.section1-ft{
    margin:auto;
    background-size: cover;
    margin-bottom: 140px;
}
/**/
.section32-ft{
    display: flex;
    flex-direction: column;
}
.section2-ft {
    margin: auto;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 87px;
    justify-content: space-between;
    align-items: stretch;
    left: calc(50% - 1161px/2 - 1px);
    max-width: 1161px;
    color: #333B41;
    margin-bottom: 100px;
}
.section2-ft div{
    word-wrap: break-word;
}
/**/
.section3-ft{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.grid3-ft {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 100px;
    margin-left: 50px;
    margin-right: 50px;
}
.grid3-ft div {
    border: 2px solid orange;
    border-radius: 3px;
}
.grid3-ft img{
    height: 100%;
}
.pets{
    display: flex;
    flex-direction: row;
}
.pets_img{
    transition: 1s;
}
.pets_img:hover{
    transform: scale(1.05);
}




/**/
.arrow_btn{
    padding: 32px 32px;
    align-self: center;
    border-radius: 50px;
    color: aliceblue;
    z-index: 50;
    transition: 2s;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}
.btn1{
    padding: 16px 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
}
.btn1:hover{
    background: linear-gradient(113.96deg, #f76f35 1.49%, #fc8600 101.44%);
}
.arrow_btn:hover{
    background: linear-gradient(113.96deg, #f76f35 1.49%, #fc8600 101.44%);
}

.section4-ft{
    left: 0px;
    right: 0px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
    padding: 69px 220px 100px;
}
.bg {
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    color: #333B41;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 69px 220px 100px;
    z-index: 100;
}
.flex4{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.flex4 img{
    background-color: #ffffff;
    border: 3px solid #000000;
}

.bg h1{
    font-weight: 400;
    font-size: 48px;

    color: #FE9013;
}
h3 {
    font-weight: 400;
    font-size: 36px;
}
.section5-ft{
    display: flex;
    flex-direction: column;
    margin: 50px auto 0px;
    align-items: center;
}
.wrapper5{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.row5 {
    display: flex;
    margin: 0 -15px;
}
.column5 {
    background-image: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    margin: 0 15px;
    flex-grow: 0 1 25%;
    border-radius: 20px;
    padding: 2px;
    
}

.item5{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background: #F1F3F2;
    border: 2px solid transparent;
    border-radius: 20px;

    color:grey;
    line-height: 120%;
    overflow: hidden;
    padding: 16px;
    font-weight: 300;
    height: 395px;
    max-width: 268px;
}
.column5:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.media-object5 {
    display: flex;
    flex-direction: row;
}
.media-image5 {
    flex-grow: 0 20% auto;
    margin-right: 7px;
}
.media-title {
    flex-grow: 1 1 auto;
    padding-left: 0;
}
.column5-text1 {
    size: 16px;
    line-height:19.2px;
    font-weight: 400;
    color: #000000;
    word-break: normal;
}
.column5-text2 {
    display: flex;
    margin: 0 -3px;
    size: 15px;
    line-height:18px;
    color: #BDBDBD;
}
.column5-text2 div{
    padding: 0 3px;
}
.column5-body {
    color:#767474;
}

.slidecontainer {
    align-self: center;
    width: 53%; 
    margin: 21px auto 31px auto;
}
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 6px;
    border-radius: 5px; 
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 100px; /* Set a specific slider handle width */
    height: 6px;
    border-radius: 5px;   /* Slider handle height */
    background: #FE9013; /* Green background */
    cursor: pointer; /* Cursor on hover */
}
.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 6px;
    border-radius: 5px; 
    background: orangered; /* Green background */
    cursor: pointer; /* Cursor on hover */
}
.flower-foto1{
    position: absolute;
    width: 293px;
    height: 1000px;
    right: 0px;
    top: 992px;
    align-self: flex-end;
    background: url(https://cdn.discordapp.com/attachments/957401806063947827/1023530180549029888/flower_foto1.jpg);
    background-size: cover;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    z-index: 101;
}
.plant{
    display: flex;
    margin-bottom: 0;
    margin-top: -220px;
    min-width:100vh;
    justify-content: space-between;
    flex-wrap: wrap;
}
.palm-foto{
    position: relative;
    width: 292px;
    height: 460px;
    left: 0px;
    align-self: flex-start;
    background:url(https://cdn.discordapp.com/attachments/957401806063947827/1023530181010407486/palm_foto.jpg);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    z-index: 10000;
}
.strelitzia1{
    position: relative;
    width: 368px;
    height: 275px;
    right: 0px;
    align-self: flex-end;
    background: url(https://cdn.discordapp.com/attachments/957401806063947827/1023530180146384967/strelitzia_1.jpg);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    z-index: 10000;
}

.leav-foto{
    position: relative;
    width: 300.92px;
    height: 295.45px;
    align-self: flex-end;
    right: 0px;
    background: url(https://cdn.discordapp.com/attachments/822878507822219317/1026124530353193031/leav_foto.png);
    background-size: cover;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    z-index: 1000;
}
.icon_social {
    background-color: grey;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}
